/**
 * custom theme for reveal.js project "configuration ethospatiale"
 *
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Solarized colors
$darkblue:    #315659;
$lightblue:   #B0D1D4;
$brown:       #8C705F;
$purple:      #7B6C73;
$lightpurple: #C5BEC2;
$green:       #6D8874;
$lightgreen:  #BBC9BF;
$cosmopolite : #E2B4BD;
$opposition: #93A8AC;
$genre: #FFD447;
$environnemental: #700353;
$migrance: #3E5622;
$presence: #DB7F67;
$memoriel: #345995;


// Override theme settings (see ../template/settings.scss)
$mainFontSize: 18px;
$mainFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
$headingFont: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;

$mainColor: $darkblue;
$headingColor: $brown;
$headingTextShadow: none;
$backgroundColor: $lightgreen;
$linkColor: $migrance;
$linkColorHover: color.scale( $linkColor, $lightness: 20% );
$selectionBackgroundColor: rgba(79, 64, 28, 0.99);
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

p {
  color: $brown;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  text-transform: none;
}

h2 {
  font-size: 30px;
  text-transform: none;
}

li {
    font-size: 18px;
    color: $green;
}
.justify{
  text-align: justify;
  text-justify: inter-word;
}

blockquote{
	font-size: 18px;
}

.small {
  font-size: 15px;
}

.fiche {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  background-color: #f5e4c3; 
  padding: 10px;
  height: fit-content;
  align-items: start;
}

.fiche-text {
  font-size: 13px;  
  display: flex;
  flex-direction: column;
}

.fiche-description {
  margin: 0;
}

.fiche-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( $lightpurple, #ffffff  );
}

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
